.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.themeList {
  margin: 50px auto 50px auto;
  padding: 10px;

  /* height: 700px !important; */
}
.imgProduct {
  height: 500px !important;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
input {
  background-color: white !important;
  border-bottom: none !important;
}
.card-image {
  padding: 10px;
}
.productOne {
  padding: 15px;
}
h1 {
  background-color: aqua;
}
